---
name: Image Cleanup
on:
  workflow_dispatch:
  workflow_run:
    workflows: [Alpine Mainline, Alpine Stable, Debian Mainline, Debian Stable]
    types: [completed]
jobs:
  cleanup:
    name: Delete untagged NGINX Unprivileged Docker images on the Amazon ECR Public Gallery and the GitHub Container Registry
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:
      - name: Check out the codebase
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Delete untagged NGINX Unprivileged Docker images on the Amazon ECR Public Gallery
        run: |
          .github/workflows/scripts/delete-untagged-amazon-public-ecr-images.sh

      - name: Delete untagged NGINX Unprivileged Docker images on the GitHub Container Registry
        uses: stumpylog/image-cleaner-action/untagged@9255a1b3b8ca44b3e5887e2168155223b277ca1d # v0.5.0
        with:
          is_org: true
          owner: nginxinc
          package_name: nginx-unprivileged
          token: ${{ secrets.GITHUB_TOKEN }}
